*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 14px;
    position: relative;
}
.container{
    padding: 24px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    max-width: 350px;
    padding: 40px 24px;
    text-align: center;
    width: 100%;
}
.avatar{
    border-radius: 50%;
    width: 96px;
    height: 96px;
    object-fit: cover;
    margin: 0 auto 24px;
}
.user{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
}
.location{
    color: hsl(75, 94%, 57%);
    font-size: 16px;
    margin-bottom: 16px;
}
.quote{
    color: hsl(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn{
    display: block;
    width: 100%;
    padding: 14px 0;
    background: hsl(0, 0%, 20%);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    transition: background 0.3s;
}
.btn:hover, .btn:focus{
    background: hsl(0, 0%, 30%);
    outline: none;
}


.attribution {
    position: absolute;
    bottom: 16px;
    font-size: 11px;
    text-align: center;
    color: #999;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}